<!DOCTYPE html>
<html>

<head>
    <title>Welcome</title>
    <style>
        #header {
            background-color: gray;
            padding: 5px;
        }

        #footer {
            background-color: grey;
            padding: 5px;
            text-align: center;
        }

        #body {
            background-color: #cccccc;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="header">
        <h2>Welcome Form</h2>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div id="message" style="background-color: red; color: white;">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div id="body">
        <h3>Welcom to Clinic Reservation System</h3>
        <hr>
        <p>Login to system...</p>
        <button onclick="document.location='/clinicsystem/login/';">Login</button>
        <button onclick="document.location='/clinicsystem/register/';">Register</button>
        <br>
    </div>
    <div id="footer">
        <p>Sharif University Of Technology</p>
    </div>
</body>

</html>