<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <style>
        #header {
            background-color: gray;
            padding: 5px;
        }

        #footer {
            background-color: grey;
            padding: 5px;
            text-align: center;
        }

        #body {
            background-color: #cccccc;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="header">
        <h2>Login Form</h2>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div id="message" style="background-color: red; color: white;">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div id="body">
        <h3>Clinic Reservation System</h3>
        <hr>
        <form action="" method="post">
            <p>Select a user for login...</p>
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <button onclick="document.location='/'">Back</button>
    </div>
    <div id="footer">
        <p>Sharif University Of Technology</p>
    </div>
</body>

</html>