<!DOCTYPE html>
<html>

<head>
    <title>Staff Panel</title>
    <style>
        #header {
            background-color: gray;
            padding: 5px;
        }

        #footer {
            background-color: grey;
            padding: 5px;
            text-align: center;
        }

        #body {
            background-color: #cccccc;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="header">
        <h2>Staff Panel Form</h2>
    </div>
    <div id="body">
        <h3>Welcom to Clinic Reservation System</h3>
        <hr>
        <p>Select a menu item...</p>
        <ul>
            <li><a href="#">Appointment List</a></li>
            <li><a href="#">Clinic List</a></li>
            <li><a href="#">Service List</a></li>
            <li><a href="#">Payment</a></li>
        </ul>
        <br>
        <button onclick="document.location='/'">Logout</button>
    </div>
    <div id="footer">
        <p>Sharif University Of Technology</p>
    </div>
</body>

</html>