<!DOCTYPE html>
<html>

<head>
    <title>Staff Panel</title>
    <style>
        #header {
            background-color: gray;
            padding: 5px;
        }

        #footer {
            background-color: grey;
            padding: 5px;
            text-align: center;
        }

        #body {
            background-color: #cccccc;
            padding: 5px;
        }
    </style>
</head>

<body>
    <div id="header">
        <h2>Staff Panel Form</h2>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div id="message" style="background-color: red; color: white;">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <div id="body">
        <h3>Clinic Reservation System</h3>
        <hr>
        <h2>{{ userName|capfirst }}</h2>
        <p>Select a menu item...</p>
        <h4>Appointment</h4>
        <ul>
            <li><a href="/clinicsystem/appointment_list/">Appointment List</a></li>
        </ul>
        <h4>Clinic & Service</h4>
        <ul>
            <li><a href="/clinicsystem/clinic_list/">Clinic List</a></li>
            <li><a href="/clinicsystem/create_clinic/">Create Clinic</a></li>
            <li><a href="/clinicsystem/service_list/">Service List</a></li>
            <li><a href="/clinicsystem/create_service/">Create Service</a></li>
        </ul>
        <h4>Payment</h4>
        <ul>
            <li><a href="/clinicsystem/payment_list/">Payment List</a></li>
            <li><a href="/clinicsystem/create_payment/">Create Payment</a></li>
        </ul>
        <h4>Notification</h4>
        <ul>
            <li><a href="/clinicsystem/notification_list/">Notification List</a></li>
        </ul>
        <br>
        <button onclick="document.location='/'">Logout</button>
    </div>
    <div id="footer">
        <p>Sharif University Of Technology</p>
    </div>
</body>

</html>